#navbar {
  display: flex;
}
.tags {
  list-style-type: none;
}
p {
  font-weight: 500;
}
strong {
  font-weight: 900;
}
a {
  color: #000;
}
a:hover,
a:focus {
  color: gray-dark;
}
a:visited,
a:link {
  color: #000;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
