// write you own style here
#navbar
  display: flex;
.tags
  list-style-type: none;
p
  font-weight 500;
strong
  font-weight: 900;
a
  color black
  &:hover, &:focus
    color gray-dark
  &:visited, &:link
    color black
a img
  &:hover, &:focus
    cursor zoom-in
